@model IEnumerable<ProcurementErp.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" id="RequestHistoryContainer">
        <h1>
            List of Users
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Users</li>
        </ol>
    </section>

    <section class="content" id="History">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <p>
                            <a href="@Url.Action("Create", "User")" class="btn btn-sm btn-primary">Create User</a>
                        </p>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x:auto">
                        <table id="UserTable" class="table table-striped table-bordered table-responsive">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.USERNAME)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EMAIL)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EMP_NUM)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NAME)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DESIGNATION)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DEPARTMENT)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TELEPHONE)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CATEGORY)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ROLE)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.STATUS)
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.USERNAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMAIL)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMP_NUM)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DESIGNATION)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DEPARTMENT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TELEPHONE)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CATEGORY)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ROLE)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.STATUS)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "User", new { id = item.USER_ID })" class="btn btn-sm btn-primary">Edit User</a>
                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
</div>

@section scripts {
    <!--<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>-->
    <script src="@Url.Content("~/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables/dataTables.bootstrap.js")"></script>
    <script src="~/JsFiles/RequestHistoryPopUp.js"></script>
    <script>
  $(function () {
    //$("#example2").DataTable();
      $('#UserTable').dataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
    </script>
}
