@model ProcurementErp.ViewModels.RFIRFPComboViewModel
@{
    ViewBag.Title = "EditRFIForm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" id="RequestHistoryContainer">
        <h1>
            Update Request For Information
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="">Update Request</li>
            <li class="active">RFI</li>
        </ol>
    </section>
    <section class="content" id="Roles">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <p class="text-bold" style="text-transform:uppercase">
                            Update RFI REQUEST
                        </p>
                    </div>
                    <!--Req form II -->
                    <div class="box-body">
                        <div class="col-md-11 col-md-offset-1">
                            <div class="form-group col-md-12">
                                @using (Html.BeginForm("UpdateRFIForm", "UpdateRequest", FormMethod.Post, new { role = "form", @class = "box-body" }))
                                {
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td colspan="2"><p class="text-center text-uppercase text-bold">request for proposal (rfp)</p></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width:100%">
                                                    <tr>
                                                        <th>Project Title</th>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Request.PRJECT_TITLE, new { @class = "form-control" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Issue Date</th>
                                                        <td>
                                                            <input class="form-control datepicker" data-val="true" data-val-date="The field INITIATION_DATE must be a date." id="Request_INITIATION_DATE" name="Request.INITIATION_DATE" readonly="readonly" type="text" value="@(Model.Request.INITIATION_DATE != null?Model.Request.INITIATION_DATE.Value.ToShortDateString():"") " />

                                                            @*@Html.TextBoxFor(m => m.Request.INITIATION_DATE, new { @readonly = "readonly", @class = "form-control datepicker" })*@
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="width:100%">
                                                    <tr>
                                                        <th>Due Date</th>
                                                        <td>
                                                            <input class="form-control datepicker" data-val="true" data-val-date="The field DUE_DATE must be a date." id="Request_DUE_DATE" name="Request.DUE_DATE" readonly="readonly" type="text" value="@(Model.Request.DUE_DATE != null?Model.Request.DUE_DATE.Value.ToShortDateString():"")" />

                                                            @*@Html.TextBoxFor(m => m.Request.DUE_DATE, new { @readonly = "readonly", @class = "form-control datepicker" })*@
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Due Time</th>
                                                        <td>
                                                            <div class="bootstrap-timepicker">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(m => m.Request.DUE_TIME, new { @class = "form-control timepicker", @readonly = "readonly" })

                                                                        <div class="input-group-addon">
                                                                            <i class="fa fa-clock-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.input group -->
                                                                </div>
                                                                <!-- /.form group -->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th class="text-uppercase text-info">Introduction</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="control-label">Brief overview of UBN</label>
                                                            <textarea class="form-control" cols="20" id="Request_UBN_OVERVIEW" name="Request.UBN_OVERVIEW" rows="3">@Model.Request.UBN_OVERVIEW</textarea>


                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th class="text-uppercase text-info">Project Overview</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="control-label">Project Objectives</label>
                                                            <textarea class="form-control" cols="20" id="Request_PROJECT_OBJECTIVE" name="Request.PROJECT_OBJECTIVE" rows="3">@Model.Request.PROJECT_OBJECTIVE</textarea>


                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="control-label">Scope of Work</label>
                                                            <textarea class="form-control" cols="20" id="Request_WORK_SCOPE" name="Request.WORK_SCOPE" rows="3">@Model.Request.WORK_SCOPE</textarea>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th colspan="2" class="text-uppercase text-info">TECHNICAL CONTACT PERSON</th>
                                                    </tr>
                                                    <tr>
                                                        <td>NAME</td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Technical.NAME, new { @class = "form-control" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>DESIGNATION</td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Technical.DESIGNATION, new { @class = "form-control" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>DEPARTMENT</td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Technical.DEPARTMENT, new { @class = "form-control" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>TELEPHONE</td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Technical.TELEPHONE, new { @class = "form-control" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>EMAIL</td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Technical.EMAIL, new { @class = "form-control", type = "email" })
                                                            @Html.HiddenFor(m => m.Technical.ID)
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th colspan="2" class="text-uppercase text-info">rfp timelines</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Date of Issue</td>
                                                        <td>
                                                            <input class="form-control datepicker" data-val="true" data-val-date="The field ISSUE_DATE must be a date." id="Request_ISSUE_DATE" name="Request.ISSUE_DATE" readonly="readonly" type="text" value="@(Model.Request.ISSUE_DATE != null ? Model.Request.ISSUE_DATE.Value.ToShortDateString() : "")" />

                                                            @*@Html.TextBoxFor(m => m.Request.ISSUE_DATE, new { @readonly = "readonly", @class = "form-control datepicker" })*@
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Last Date for receipt of Queries</td>
                                                        <td>
                                                            <input class="form-control datepicker" data-val="true" data-val-date="The field LST_QRY_RECEIPT_DATE must be a date." id="Request_LST_QRY_RECEIPT_DATE" name="Request.LST_QRY_RECEIPT_DATE" readonly="readonly" type="text" value="@(Model.Request.LST_QRY_RECEIPT_DATE != null ? Model.Request.LST_QRY_RECEIPT_DATE.Value.ToShortDateString() : "")" />
                                                        @*@Html.TextBoxFor(m => m.Request.LST_QRY_RECEIPT_DATE, new { @readonly = "readonly", @class = "form-control datepicker" })*@
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Last date for bank's response to Queries</td>
                                                        <td>
                                                            <input class="form-control datepicker" data-val="true" data-val-date="The field BANK_QRY_RES_DATE must be a date." id="Request_BANK_QRY_RES_DATE" name="Request.BANK_QRY_RES_DATE" readonly="readonly" type="text" value="@(Model.Request.BANK_QRY_RES_DATE != null ? Model.Request.BANK_QRY_RES_DATE.Value.ToShortDateString() : "")" />
                                                        @*@Html.TextBoxFor(m => m.Request.BANK_QRY_RES_DATE, new { @readonly = "readonly", @class = "form-control datepicker" })*@
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Date of receipt of response to RFP</td>
                                                        <td>
                                                            <input class="form-control datepicker" data-val="true" data-val-date="The field LST_RPF_RECPT_DATE must be a date." id="Request_LST_RPF_RECPT_DATE" name="Request.LST_RPF_RECPT_DATE" readonly="readonly" type="text" value="@(Model.Request.LST_RPF_RECPT_DATE != null ? Model.Request.LST_RPF_RECPT_DATE.Value.ToShortDateString() : "")" />
                                                        @*@Html.TextBoxFor(m => m.Request.LST_RPF_RECPT_DATE, new { @readonly = "readonly", @class = "form-control datepicker" })*@
                                                        @Html.HiddenFor(m => m.Request.TEMP_ID)
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="form-group col-md-12 col-md-offset-5">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>

                                }

                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
       $(function () {
           //Timepicker
           $(".timepicker").timepicker({
               showInputs: false,
               minuteStep: 5
           });

           $('.datepicker').datepicker();
       })
    </script>
}




